<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sedora"
        tools:targetApi="31">
        <activity
            android:name=".presentation.views.GraficaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.views.ProgresoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.views.MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".presentation.views.CargaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.views.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.views.RegistroActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".presentation.views.RecyclerActivity"
            android:exported="true">
        </activity>

        <activity android:name=".presentation.views.ProfileActivity"></activity>

        <activity
            android:name=".presentation.views.AjustesActivity"
            android:theme="@style/Theme.Sedora" />


        <activity android:name=".presentation.views.FAQ"></activity>

        <activity android:name=".presentation.views.AcercaDe"></activity>

        <activity android:name=".presentation.views.PoliticaDePrivacidad"></activity>



        <activity
            android:name=".presentation.views.PantallaInicioActivity"
            android:exported="true"/>

        <activity
            android:name=".presentation.views.TusMetasActivity"
            android:exported="true"/>

        <activity
            android:name=".presentation.views.TusMetas2Activity"
            android:exported="true"/>

    </application>

</manifest>